.loading-container {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4); /* 90% opacity white */
}
