/* Prescription.module.css */

.container {
  min-height: 84px;
  border: 1px solid black;
  max-width: 482px;
  margin: 0 auto;
  margin-top: 40px;
} 
.doc-details {
  margin-top: 5px;
  margin-left: 15px;
}

.clinic-details {
  margin-top: 5px;
  margin-left: 15px;
}

.doc-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.doc-meta {
  font-size: 9px;
}

.datetime {
  font-size: 10px;
  margin-top: 5px;
}

.row.title {
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prescription {
  min-height: 380px;
  margin-bottom: 10px;
  padding: 15px;
}


.instruction {
  font-size: 6px;
}

/* GRID SYSTEM SPECIFIC TO PRESCRIPTION */
.row {
  padding: 16px;
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
